*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial,sans-serif;
}

body{
  background:#f4f6fb;
  padding:0;
}

.page-header{
  display:flex;
  align-items:center;
  gap:20px;
  margin-bottom:40px;
}

.page-header h1{
  font-size:38px;
  color:#2d1fa3;
}

.page-content{
  padding: 95px 40px 40px 40px;
}

.content-grid{
  display:grid;
  grid-template-columns:
  repeat(auto-fit,minmax(280px,1fr));
  gap:28px;
}
.item-card {
  background: white;
  color: #111827;
  padding: 35px;
  border-radius: 22px;
  font-size: 20px;
  font-weight: 600;
}

.item-card{
  background:white;
  padding:28px;
  border-radius:18px;
  font-size:18px;
  font-weight:600;
  box-shadow:
  0 8px 25px rgba(0,0,0,0.08);
  transition:0.25s ease;
  cursor:pointer;
}

.item-card:hover{
  transform:translateY(-6px);
  background:#ede9fe;
  color:#4B2CB3;
}
body.dark-mode {
  background: #111827;
  color: white;
}

body.dark-mode h1 {
  color: white;
}

body.dark-mode .item-card {
  background: #1f2937 !important;
  color: white !important;
  box-shadow: none;
}

body.dark-mode .item-card h3,
body.dark-mode .item-card p,
body.dark-mode .item-card {
  color: white !important;
}

/* FOOTER */
footer{
  background:#4B2CB3;
  color:white;
  text-align:center;
  padding:14px;
}

/* REMOVE BLUE TAP/COLOR EFFECT */
*{
  -webkit-tap-highlight-color: transparent;
}

button,
a,
input,
textarea,
select{
  outline:none;
  -webkit-tap-highlight-color: transparent;
}

button:focus,
a:focus,
input:focus{
  outline:none;
}

button:active,
a:active{
  outline:none;
}
@media(max-width:768px){
  body{
    padding:0;
  }

  .page-header{
    flex-direction:column;
    align-items:flex-start;
  }

  .page-header h1{
    font-size:30px;
  }
  
  .page-content{
    padding: 90px 20px 20px 20px;
  }
}